
.videos {
    /*  margin-top: 10rem;  */
      box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5); 
   }
   
   .videos__container {
       display: grid;
       
   }
   
   .videos {
       background: var(--color-bg1);
       text-align: center;
    /*   border: 1px solid transparent;  */
       transition: var(--transition);
   }

   .videos h2 {
    font-size: 100rem;
    line-height: 2.2;
}
